.cart-item {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    padding: 5px 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.07);
    border-radius: 10px;
}

.cart-item-details {
    display: flex;
    gap: 10px;
    align-items: center;
}

.cart-item-image {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.cart-item-actions {
    display: flex;
    align-items: center;
    gap: 15px;
}

.cart-item-actions input {
    width: 60px;
    height: 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 1rem;
    color: #333;
}

.cart-item-actions input:disabled {
    cursor: not-allowed;
}