.cart-btn {
    background-color: rgba(0, 0, 0, 0.3);
    position: relative;
    border: none;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    transition: filter 0.3s ease-in-out;
}

.cart-btn p {
    color: #FFF;
    font-size: 30px;
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cart-btn:hover {
    filter: brightness(1.2);
}