.product-row td {
    padding: 10px;
}

.product-row-image-box img {
    max-width: 50px;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}

.product-row-name {
    font-weight: bold;
    font-size: 1.1rem;
}

.product-row-price {
    font-size: 1rem;
    color: #000;
}

.product-row-count input {
    width: 80px;
    height: 30px;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 1rem;
    color: #333;
}


.product-row-count input:disabled {
    cursor: not-allowed;
}

.product-row-buttons-box {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.product-row-buttons-box button {
    width: 38px;
    height: 38px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: #3498db;
    color: white;
    cursor: pointer;
    transition: filter 0.3s ease-in-out;
}

.product-row-buttons-box button:disabled {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: not-allowed;
}

.product-row-buttons-box button:hover {
    filter: brightness(1.2);
}