.product-row-image-box {
    display: flex;
    align-items: center;
    margin-left: 7px;
}

.product-row-buttons-box {
    display: flex;
    justify-content: end;
    gap: 6px
}

.product-row-buttons-box button {
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
    padding: 0;
    transition: filter 0.3s ease-in-out;
}

.product-row-buttons-box button:disabled {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: not-allowed
}

.product-row-buttons-box button:hover {
    filter: brightness(1.5);
}

.product-row-count-input {
    width: 100px;
    height: 20px;
    border-radius: 4px;
    border: 1px solid gray;
}

.product-row-count-input:disabled {
    cursor: not-allowed
}