.product-table {
    width: 100%;
    table-layout: fixed;
    border-spacing: 0;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.15);
}

.product-table thead {
    color: #FFF;
    background-color: #333333;
    height: 50px;
}

.product-table thead th:nth-child(1) {
    border-top-left-radius: 10px;
}

.product-table thead th:nth-child(5) {
    border-top-right-radius: 10px;
}

.product-table tr {
    text-align: left;
}

.product-table tr:nth-child(even) td {
    background-color: rgba(0, 0, 0, 0.15);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.product-table-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.product-pagination button {
    background-color: #333333;
    color: #FFF;
    border-radius: 5px;
    border: none;
    padding: 3.5px 7px;
    cursor: pointer;
}

.product-pagination button:disabled {
    background-color: #696868;
    cursor: not-allowed;
}